altair==4.2.2                    
attrs                     
blinker                   
cachetools                
certifi                   
charset-normalizer        
click                     
colorama                  
gitdb                     
GitPython                 
idna                      
Jinja2                    
jsonschema                
jsonschema-specifications 
MarkupSafe                
narwhals                  
numpy
openpyxl                     
packaging                 
pandas                    
pillow
pip                    
plotly                    
protobuf==3.20.0                  
pyarrow                   
pydeck                    
python-dateutil           
pytz                      
referencing               
requests                  
rpds-py                   
six                       
smmap
streamlit                     
tenacity                  
toml                      
tornado                   
typing_extensions         
tzdata                    
urllib3                   
watchdog                  